:root {
    --primary-color: #537c5c;
    --sidebar-text-color: #fff;
    --product-column: 3;
    --product-gap: 20px;
}

html {
    font-size: 62.5%;
}

body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.6rem;
    background-color: #f5f5f5;

    /* Thiết lập khử răng cưa chữ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Cải thiện khả năng đọc */
    text-rendering: optimizeLegibility;
}

/* ---------- CV ---------- */
.wrapper {
    padding-inline: 1.6rem;
}

.container {
    max-width: 900px;
    margin: 20px 0;
    margin-inline: auto;
    background-color: #fff;
}

.flex-container {
    display: flex;
}

.profile-sidebar {
    flex: 1;
    background-color: #314b37;
}

.top-sidebar {
    padding: 16px;
    background-color: var(--primary-color);
}

.profile-avatar img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #8aa792;
}

.profile-name {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    color: var(--sidebar-text-color);
}

.profile-title {
    margin-top: 1px;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--sidebar-text-color);
}

.bottom-sidebar {
    padding: 30px 20px;
}

.profile-info {
    padding-left: 0;
    list-style-type: none;
    color: var(--sidebar-text-color);
}

.profile-info li:not(:first-child) {
    margin-top: 20px;
}

.profile-info li i {
    margin-right: 8px;
}

.profile-info li a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.heading {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.heading h2 {
    display: inline-block;
    border-radius: 999px;
    padding: 8px 16px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--sidebar-text-color);
    background-color: var(--primary-color);
}

.heading::after {
    display: block;
    flex-grow: 1;
    margin-left: 6px;
    height: 2px;
    content: "";
    background-color: var(--primary-color);
}

.profile-education {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-education > li {
    margin-top: 15px;
}

.sub-education {
    margin-top: 10px;
    padding-left: 10px;
    list-style-type: none;
}

.profile-skill {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-skill li {
    margin-top: 15px;
}

.profile-interest {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-interest li {
    margin-top: 15px;
}

.content {
    padding: 1.5rem 1.6rem;
    flex: 2;
}

.content .target {
    margin-top: 15px;
    line-height: 1.6;
    color: #161616;
}

.content .experience {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.experience .job {
    font-size: 1.6rem;
}

.experience .time {
    font-weight: 500;
}

.content .company {
    margin-top: 10px;
    font-weight: 400;
}

.prize-list,
.certificate-list {
    padding-left: 5px;
    list-style-type: none;
}

.task-item,
.prize-item,
.certificate-item {
    margin-top: 16px;
    line-height: 1.6;
    color: #161616;
}

.prize-item span,
.certificate-item span {
    margin-right: 40px;
    font-weight: 500;
}

/*---------- PRICING ----------*/
.pricing-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pricing-section {
    background-color: #fff;
}

.pricing-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    font-size: 1rem;
    background-color: #fff;
}

.pricing-header {
    padding-top: 100px;
    text-align: center;
}

.pricing-header .title {
    font-size: 4rem;
    font-weight: 500;
    color: #131c26;
}

.pricing-header .subtitle {
    padding-top: 14px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #222c38;
}

.pricing-card {
    flex: 1 1 33.33%;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #f6fcff;
}

.pricing-card:nth-child(2) {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pricing-card:hover {
    -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 16px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 500;
    color: #1c1d1d;
}

.card-desc {
    margin-top: 12px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #7a7f87;
}

.price-wrapper {
    margin-top: 20px;
}
.price {
    font-size: 3rem;
    font-weight: 500;
}

.period {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #7a7f87;
}

.features-title {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #7a7f87;
}

.features-list {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
}

.features-item {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #464b51;
}

.features-item::before {
    content: "✓";
    margin-right: 2px;
    font-weight: 700;
}

.btn-action {
    width: 100%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 8px 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #f3fbfd;
    background-color: #1b252f;
    cursor: pointer;
}

/*---------- PRODUCT ----------*/
.product-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product-container {
    max-width: 900px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--product-gap);
}

.product-item {
    flex-basis: calc(
        (100% - (var(--product-column) - 1) * (var(--product-gap))) /
            (var(--product-column))
    );
    border: 1px solid #00000017;
    border-radius: 6px;
    background: #fff;

    /* Fix lỗi viền bị răng cưa (anti-aliasing) trên Safari/Webkit khi kết hợp border-radius và overflow */
    transform: translateZ(0);
}

.product-item:hover {
    -webkit-box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #00000017;
    border-radius: 6px 6px 0 0;
}

.product-content {
    padding: 8px;
}

.product-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: #000c;

    /* Hiển thị dấu 3 chấm khi text dài */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.product-price {
    font-size: 1.6rem;
    color: #ee4d2d;
}

.product-buy {
    border: none;
    border-radius: 999px;
    padding: 4px 16px 6px;
    color: #fff;
    background-color: #ee4d2d;
    cursor: pointer;
    white-space: nowrap;
}

/*---------- REGISTER ----------*/
.register-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 12px;
    background-color: #efd5ff;
    background-image: linear-gradient(135deg, #9ac4fc 0%, #efd5ff 100%);
}

.register-container {
    width: 100%;
    max-width: 1024px;
    border-radius: 24px;
    background-color: #fff;
}
.register-flex {
    display: flex;
}

.register-image {
    flex: 1 1 50%;
    max-width: 50%;
}

.register-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
}

.register-form {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 40px 30px;
}

.form-heading {
    font-size: 2.8rem;
}

form {
    margin-top: 16px;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: block;
    font-size: 1.8rem;
}

.form-group input {
    width: 100%;
    margin-top: 6px;
    padding: 8px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-term {
    margin-top: 20px;
}

.term-of-service {
    margin-left: 6px;
}

.term-of-service a {
    font-weight: 500;
}

.form-submit {
    margin-top: 20px;
}

.submit-btn {
    padding: 8px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    background-color: #3c63cb;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.9;
}
