:root {
    --primary-color: #537c5c;
    --sidebar-text-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.6rem;
    background-color: bisque;

    /* Thiết lập khử răng cưa chữ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Cải thiện khả năng đọc */
    text-rendering: optimizeLegibility;
}

/* ---------- CV ---------- */
.wrapper {
    padding-inline: 1.6rem;
}

.container {
    max-width: 900px;
    margin: 20px 0;
    margin-inline: auto;
    background-color: #fff;
}

.flex-container {
    display: flex;
}

.profile-sidebar {
    flex: 1;
    background-color: #314b37;
}

.top-sidebar {
    padding: 16px;
    background-color: var(--primary-color);
}

.profile-avatar img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #8aa792;
}

.profile-name {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    color: var(--sidebar-text-color);
}

.profile-title {
    margin-top: 1px;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    color: var(--sidebar-text-color);
}

.bottom-sidebar {
    padding: 30px 20px;
}

.profile-info {
    padding-left: 0;
    list-style-type: none;
    color: var(--sidebar-text-color);
}

.profile-info li:not(:first-child) {
    margin-top: 20px;
}

.profile-info li i {
    margin-right: 8px;
}

.profile-info li a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.heading {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.heading h2 {
    display: inline-block;
    border-radius: 999px;
    padding: 8px 16px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--sidebar-text-color);
    background-color: var(--primary-color);
}

.heading::after {
    display: block;
    flex-grow: 1;
    margin-left: 6px;
    height: 2px;
    content: "";
    background-color: var(--primary-color);
}

.profile-education {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-education > li {
    margin-top: 15px;
}

.sub-education {
    margin-top: 10px;
    padding-left: 10px;
    list-style-type: none;
}

.profile-skill {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-skill li {
    margin-top: 15px;
}

.profile-interest {
    padding-left: 0;
    color: #fff;
    list-style-type: none;
}

.profile-interest li {
    margin-top: 15px;
}

.content {
    padding: 1.5rem 1.6rem;
    flex: 2;
}

.content .target {
    margin-top: 15px;
    line-height: 1.6;
    color: #161616;
}

.content .experience {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.experience .job {
    font-size: 1.6rem;
}

.experience .time {
    font-weight: 500;
}

.content .company {
    margin-top: 10px;
    font-weight: 400;
}

.prize-list,
.certificate-list {
    padding-left: 5px;
    list-style-type: none;
}

.task-item,
.prize-item,
.certificate-item {
    margin-top: 16px;
    line-height: 1.6;
    color: #161616;
}

.prize-item span,
.certificate-item span {
    margin-right: 40px;
    font-weight: 500;
}
